name: resuable workflows
on:
    workflow_call:
jobs:
    greeting:
        runs-on: ubuntu-latest
        steps: 
            - name: Greeting steps
              run: echo "Resuable workflow"