name: resuable workflows
on:
    workflow_call:
        inputs:
            name:
                description: Enter the name
                required: true
                type: string 

jobs:
    greeting:
        runs-on: ubuntu-latest
        steps: 
            - name: Greeting steps
              run: echo "${{ inputs.name }}Resuable workflow"